
<footer class="bs-docs-footer">
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid" >
       <!-- optional icons -->
      <p>
        <a class="btn btn-social-icon btn-facebook pull-right">
          <i class="fa fa-2x fa-facebook"></i>
        </a> 
        <a class="btn btn-social-icon btn-github pull-right"> 
          <i class="fa fa-2x fa-github"></i>
        </a>
        <a class="btn btn-social-icon btn-linkedIn pull-right" href="https://ca.linkedin.com/" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-linkedin']);"> 
          <i class="fa fa-2x fa-linkedin-square"></i>
        </a>
        <a class="btn btn-social-icon btn-twitter pull-right"> 
          <i class="fa fa-2x fa-twitter"></i> 
        </a>             
      </p>
    <img src="../img/smallDarkLogo.png" alt="Dark Lion"/>
    <a href="https://www.facebook.com/amanda.j.field?fref=ts">Amanda Field |</a>
    <a href="https://www.facebook.com/JimmyJenningsHMESgrad2010">James Jennings |</a>
    <a href="https://www.facebook.com/harry.chickpea45">Aristotle Rovithis |</a>
    <a href="https://www.facebook.com/karen.wetzelspringford?fref=ts">Karen Springford</a>
  </div>
</div>
</footer>
<% include ./boot.ejs %>
</body>
</html>
<!-- Dec 10th Amanda - Add in login button to footer -->
<!-- new footer built by Ari 0427 10 12 2015 -->
<!-- formatted footer and added social icons -->