<%- include partials/header.ejs %>
  <main class="container-fluid">
    <div class="page-header" id="title">About Us</div>
   
   <!--div id="text-box" class = "text-centre-align"> -->
 <div class="jumbotron">
    
    <p>This Survey Assist Site was created with the intent to make anonymous surveys easy 
        to build.  Our aim is to provide a trustworthy site that allows the user to find the 
        consensus of their peers in a fast and efficient manner.
        We hope we were able to provide you with a easy user friendly experience</p>
    <p>We certify that all the documentation is our own creation, with blood, sweat and tears! </p>
    <h6>Created By: </h6>
    <h6>Aristotle Rovithis, James Jennings, Karen Springford & Amanda Field</h6>   
</div>
</main> 
    

<%- include partials/footer.ejs %>

