<%- include partials/header.ejs %>
<!-- Render the Registration form  -->
<main class="container">
	<div class="page-header" id="title">Registration</div>
	<div class="jumbotron"> <!--container-fluid -->
	<!-- Display flash messages  -->
		<!--<div id="register"> -->
		<form method="post">
			<fieldset class="form-group">
				<label for="displayName">Display Name: *</label>
				<input id="displayName" type="text" class="form-control registrationForm" required />
			</fieldset>
			<fieldset class="form-group">
				<label for="email" style="display:inline;">Email: *</label>
				<input id="email" type="email" class="form-control registrationForm" required/>
			</fieldset>
			<fieldset class="form-group">
				<label for="username" style="display:inline;">Username: *</label>
				<input id="username" type="text" class="form-control registrationForm" required />
			</fieldset>
			<fieldset class="form-group">
				<label for="password" style="display:inline;">Password: *</label>
				<input id="password" type="password" class="form-control registrationForm" required />
			</fieldset>
			<fieldset class="form-group">
				<input type="submit" class="btn btn-danger" value="Submit"/>
			</fieldset>
		</form>
		<!-- </div> -->
	</div>
</main>
<% include partials/footer.ejs %>
<!--KarenS - Dec2/15 - started  worked on again Dec8 -->
<!-- Dec 10th - Amanda  Added styling and functionality -->