<% include ../partials/header.ejs %>
<main class="container-fluid">
	<div class="page-header" id="title">Create a Survey</div>
	<div class="jumbotron">
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#multipleChoice"><h4>Multiple Choice</h4></a></li>
  <li><a data-toggle="tab" href="#agreeOrDisagree"><h4>Agree or Disagree</h4></a></li>
</ul>

<div class="tab-content">
	<div id="multipleChoice" class="tab-pane fade in active">
		<form href="#multipleChoice" method="post"> 
			<input name="formtype" type="hidden" value="multi" />
			<fieldset class="form-group">
				<input name="surveyname" type="text" required class="form-control surveyName" placeholder="Untitled Survey">
	
				<input class="form-control" style="width:250px; text-align: center;" name="upload" type="file">
			</fieldset>
			<h4><label for="qm1">1.</label></h4>
			<fieldset class="form-group">
				<input type="text" name="qm1" placeholder="Untitled Question" class="form-control" style="width:700px" /> 
			</fieldset>
			<fieldset class="form-group">	
				<input type="text" name="option1-1" placeholder="Answer 1" class="form-control questionBox"/>
				<input type="text" name="option1-2" placeholder="Answer 2" class="form-control questionBox"/>
				<input type="text" name="option1-3" placeholder="Answer 3" class="form-control questionBox"/>
				<input type="text" name="option1-4" placeholder="Answer 4" class="form-control questionBox"/>
			</fieldset>
			<h4><label for="qm2">2.</label></h4>
			<fieldset class="form-group">
				<input type="text" name="qm2" placeholder="Untitled Question" class="form-control" style="width:700px" /> 
			</fieldset>
			<fieldset class="form-group">	
				<input type="text" name="option2-1" placeholder="Answer 1" class="form-control questionBox"/>
				<input type="text" name="option2-2" placeholder="Answer 2" class="form-control questionBox"/>
				<input type="text" name="option2-3" placeholder="Answer 3" class="form-control questionBox"/>
				<input type="text" name="option2-4" placeholder="Answer 4" class="form-control questionBox"/>
			</fieldset>
			<h4><label for="qm3">3.</label></h4>
			<fieldset class="form-group">
				<input type="text" name="qm3" placeholder="Untitled Question" class="form-control" style="width:700px" /> 
			</fieldset>
			<fieldset class="form-group">	
				<input type="text" name="option3-1" placeholder="Answer 1" class="form-control questionBox"/>
				<input type="text" name="option3-2" placeholder="Answer 2" class="form-control questionBox"/>
				<input type="text" name="option3-3" placeholder="Answer 3" class="form-control questionBox"/>
				<input type="text" name="option3-4" placeholder="Answer 4" class="form-control questionBox"/>
			</fieldset>
			<h4><label for="qm4">4.</label></h4>
			<fieldset class="form-group">
				<input type="text" name="qm4" placeholder="Untitled Question" class="form-control" style="width:700px" /> 
			</fieldset>
			<fieldset class="form-group">	
				<input type="text" name="option4-1" placeholder="Answer 1" class="form-control questionBox"/>
				<input type="text" name="option4-2" placeholder="Answer 2" class="form-control questionBox"/>
				<input type="text" name="option4-3" placeholder="Answer 3" class="form-control questionBox"/>
				<input type="text" name="option4-4" placeholder="Answer 4" class="form-control questionBox"/>
			</fieldset>
			<h4><label for="qm5">5.</label></h4>
			<fieldset class="form-group">
				<input type="text" name="qm5" placeholder="Untitled Question" class="form-control" style="width:700px" /> 
			</fieldset>
			<fieldset class="form-group">	
				<input type="text" name="option5-1" placeholder="Answer 1" class="form-control questionBox"/>
				<input type="text" name="option5-2" placeholder="Answer 2" class="form-control questionBox"/>
				<input type="text" name="option5-3" placeholder="Answer 3" class="form-control questionBox"/>
				<input type="text" name="option5-4" placeholder="Answer 4" class="form-control questionBox"/>
			</fieldset>
				<input type="submit" class="btn btn-primary" value="Save">
	</form>
	</div>


	<div id="agreeOrDisagree" class="tab-pane fade">
	<form method="post">
		<input name="formtype" type="hidden" value="agree" />

		<fieldset class="form-group">
		<input name="surveyname" type="text" required class="form-control surveyName" placeholder="Untitled Survey">
			<input class="form-control" style="width:250px; text-align: center;" name="upload" type="file">
		</fieldset>
			<h4><label for="qa1">1.</label></h4>
			<fieldset class="form-group">
				<input type="text" name="qa1" placeholder="Question 1" class="form-control" style="width:700px" /> 
			</fieldset>
			<h4><label for="qa2">2.</label></h4>
			<fieldset class="form-group">
				<input type="text" name="qa2" placeholder="Question 2" class="form-control" style="width:700px" /> 
			</fieldset>
			<h4><label for="qa3">3.</label></h4>
			<fieldset class="form-group">
				<input type="text" name="qa3" placeholder="Question 3" class="form-control" style="width:700px" /> 
			</fieldset>
			<h4><label for="qa4">4.</label></h4>
			<fieldset class="form-group">
				<input type="text" name="qa4" placeholder="Question 4" class="form-control" style="width:700px" /> 
			</fieldset>
			<h4><label for="qa5">5.</label></h4>
			<fieldset class="form-group">
				<input type="text" name="qa5" placeholder="Question 5" class="form-control" style="width:700px" /> 
			</fieldset>
	<input type="submit" class="btn btn-primary" value="Save">
	</form> 
</div>
</div>
</main>
<% include ../partials/footer.ejs %>

<!-- Create Page : Karen -->
<!-- Implement multiple choice structure : Amanda-->
<!-- Implement dropdown - agree/disagree - short answer structures : Amanda -->
<!-- Ari made a lot of chanes to avoid HTML conflicts, and the submit labels were changed to inputs -->
<!-- Modified by James to work with DB -->